include LICENSE
include README.md
include lisa/core/config.ini
include lisa/core/h5_config.ini
include lisa/genomes/*
include lisa/lisa_public_data/config.ini
include lisa/lisa_user_data/config.ini
include lisa/data